.boxes {
    width: 300px;
}

.boxes-purple {
    color: yellow;
    background-color: purple;
    height: 100px;
}

.boxes-blue {
    color: orange;
    background-color: blue;
    height: 100px;
}

#boxes-black {
    background-color: black;
    width: 900px;
}


.boxes-white {
    color: white;
}

#boxes-yellow {
    color: yellow;
}

